.row {
  background-color: #22accc24;
}

.box {
  height: 250px;
  width: 250px;
  border-radius: 3px;
  box-shadow: 0rem 1.5rem 3rem 0.5rem #6d6d6d85;
  background-color: white;
  padding: 20px;
  border: 1px solid #6d6d6d85;
  margin: 0 auto;
}

.one {
  width: 100%;
  margin: 0 4px;
}

.two {
  height: 200px;
  width: 280px;
}

.container-box {
  display: flex;
  margin-top: 20px;
  margin-left: 16.5%;
  margin-right: 16.5%;
}

.container-box2 {
  display: flex;
  /* margin-top: 0px; */
  margin: 5px 16.7% 20px 16.7%;
}
