<div class="row">
  <div class="col-12">
    <div class="best">
      <div class="best-item">
        <img
          src="https://www.tripsavvy.com/thmb/b-hvgyReLebGDjPfkV4FS4E9sqI=/2121x1414/filters:fill(auto,1)/the-hungarian-parliament-on-the-danube-river-at-sunset-in-budapest--hungary-945207010-23afbc9012d54bc4bb7c8a1f8c90075b.jpg"
          alt="">
      </div>
      <div class="best-item">
        <img src="https://media.tacdn.com/media/attractions-splice-spp-674x446/09/51/7f/66.jpg" alt="">

      </div>
      <div class="best-item">
        <img
          src="https://lp-cms-production.imgix.net/2019-06/c81f09d36451a030f40f459726f31a96-barcelona.jpeg?fit=crop&q=40&sharp=10&vib=20&auto=format&ixlib=react-8.6.4"
          alt="">

      </div>
      <div class="best-item">
        <img src="https://study-eu.s3.amazonaws.com/uploads/image/path/189/wide_fullhd_amsterdam-2241485_1920.jpg"
          alt="">

      </div>
      <div class="best-item">
        <img src="https://img.emg-services.net/HtmlPages/HtmlPage2129/portugal-header.jpg" alt="">
      </div>
    </div>
  </div>
</div>
