<div class="row image">
  <div class="col-md-10">
    <div class="container">
      <form *ngFor="let c of city">
        <div class="form-group col-md-11">
          <select class="form-control" [(ngModel)]="defaultCountry" name="destination">
            <option *ngFor="let w of where" [value]="w.name">{{w.name}}</option>
          </select> </div>
        <div class="form-group col-md-11">
          <select class="form-control" name="destination">
            <option *ngFor="let w of where" [value]="w.name">{{w.name}}</option>
          </select>
        </div>
        <div class="form-group col-md-11">
          <input type="date" class="form-control" value="" id="departure" placeholder="Date">
        </div>
        <div class="form-group col-md-11">
          <input type="date" class="form-control" id="return" placeholder="Return">
        </div>

        <div class="form-group col-md-11">
          <input type="num" class="form-control" id="passengers" placeholder="Passengers">
        </div>
        <div class="form-group col-md-11">
          <select id="inputState" class="form-control">
            <option selected>Economy Class</option>
            <option>Business Class</option>
          </select>
        </div>
        <div class="form-group col-md-11 center">
          <button type="submit" class="btn search">Search</button>

        </div>


      </form>
    </div>
  </div>

</div>
