<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="">
          <div class="form-group col-md-6">
            <input type="email" class="form-control" id="from" placeholder="From">
          </div>
          <div class="form-group col-md-6">
            <input type="password" class="form-control" id="to" placeholder="Your destination">
          </div>
        </div>
        <div class="form-group col-md-6">
          <input type="text" class="form-control" id="departure" placeholder="date">
        </div>
        <div class="form-group col-md-6">
          <input type="text" class="form-control" id="return" placeholder="Return">
        </div>

        <div class="form-group col-md-6">
          <input type="text" class="form-control" id="passengers" placeholder="Passengers">
        </div>
        <div class="form-group col-md-6">
          <select id="inputState" class="form-control">
            <option selected>Economy Class</option>
            <option>Business Class</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <button type="submit" class="btn btn-primary">Search</button>

        </div>


      </form>
    </div>

  </div>
</div>
