.shadoww {
  margin: 0 60px;
}

.part-left-contact {
  max-height: 135vh;
  display: flex;
  padding: 80px;
  margin-top: 30px;
  /* background: rgba(0,0,0,.8); */
  z-index: 1;
  background-image: url("../images/bg-01.jpg");
  background-repeat: no-repeat;
  border-radius: 30px;
}

.submit {
  margin-top: 50px;
}

.search {
  border: 1px solid #02be70;
  background-color: #02be70;
  font-size: 23px;
  font-weight: 600;
  border-radius: 25px;
  width: 40%;
  color: #ffffff;
}

.main-contact {
  padding: 20px;
  margin-top: 150px;
}

.part-left-contact {
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  /* padding: 30px 15px 0px 15px; */
}

.part-left-contact::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: 30px;
  left: 0;
  background: rgba(0, 0, 0, 0.493);
}
.pth {
  background-color: #f2f6f5;
  z-index: -1;
  margin-top: 32px;
  border-radius: 20px;
  padding: 60px;
  padding-top: 44px;
  padding-bottom: 44px;
 
 
  
}

.btn-submit{
  width: 200px;
  
}


.text-address{
  color:rgba(204, 204, 204, 0.755)
}

th,td{
  color:#fff
}
.table{
  padding: 25px;  
  border-bottom:0;
  border-top:0;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 0;
}
.table thead th{
  border-bottom: 0;
}
td a {
  color: #02be70;
}
