<div class="row">
  <div class="weatherDiv col-md-6">
    <div class="background"></div>
    <h1 class="weatherTitle">WeatherInfo</h1>
    <div class="col-6">

      <form [formGroup]="locationForm" (ngSubmit)="onSubmit()">
        <label for="countryName">Enter Your next vacation!</label>
        <div class="flex">

          <input type="text" class="form-control" formControlName="countryname">
          <button type="submit" class="btn btn-success">Check</button>

        </div>
      </form>
    </div>
  </div>
</div>
