<nav>
  <div class="row nav-sizes grey-light flex">
    <div class="col-8 ">
      <div class="logo">
        <h1>
          LOGO
        </h1>
      </div>
      <div class="links space" id="main">

        <a class="black link-size" routerLinkActive="active" id="home" [routerLink]="['home']">Home</a>

        <a class="black link-size" routerLinkActive="active" id="flights" [routerLink]="['flights']">Flights</a>


        <a class="black link-size" routerLinkActive="active" id="whyus" [routerLink]="['why-us']">Why Us</a>

        <a class="black link-size" routerLinkActive="active" id="contact" [routerLink]="['contact']">Contact</a>


        <div class="loader">
          <div class="line-loader"></div>
        </div>
      </div>
    </div>
    <div class="col-4">

      <div class="user float-right">
        <div class="float-right  lr">Login</div>
        <div class="float-right  lr">/</div>
        <div class="float-right  lr"> Register</div>
      </div>
    </div>
  </div>
</nav>
