<nav>
  <div class="row nav-sizes grey-light flex">
    <div class="col-11 ">
      <div class="logo">
        <h1>
          LOGO
        </h1>
      </div>
      <div class="links space">
        <a class="black link-size">Home</a>
        <a class="black link-size">Flights</a>
        <a class="black link-size">Why Us</a>
        <a class="black link-size">Contact</a>
      </div>
    </div>
    <div class="col-1">

      <div class="user">
        <div class="float-right link-size">Login/Register</div>
      </div>
    </div>
  </div>
</nav>
